<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Write App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/box_list.css">

    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<nav class="navbar">
    <div class="navbar-text logo">Writer App</div>
    <ul class="navbar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create new file</a></li>
    </ul>
</nav>

<!--<h1 style="display: flex; justify-content: center;">Posts</h1>-->

<div style="margin: 70px 0 0 0; padding: 0 50px 50px 50px;">
    <div id="postList" style="width: 100%"></div>
</div>

<script src="public/js/getPostList.js"></script>
</body>

</html>