<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Writer App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/public/tinymce/js/tinymce/tinymce.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=" stylesheet" href="/public/css/text_field.css">
    <link rel=" stylesheet" href="/public/css/navbar.css">
    <link rel=" stylesheet" href="/public/css/button.css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-text logo">Writer App</div>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create new file</a></li>
        </ul>
    </nav>

    <div style="margin: 10px 0 0 0; padding: 0 50px 0 50px;">
        <h3>Title </h3>
        <textarea class="text-field" id="title" name="title" style="resize: vertical; height: 50px;"></textarea>
    </div>

    <div style="margin: 10px 0 0 0; padding: 0 50px 0 50px;">
        <h3>Content </h3>
        <textarea name="editor"></textarea>
    </div>
    <div style="display: flex; margin: 30px 0 0 0; padding: 0 30px 0 30px;">
        <form id = "download" action="/download" method="POST">
            <input type="hidden" name="content" id="content" value="">
            <button type="download" id="download-btn" style="margin-left: 50px; margin-right: 100px;" class="button_style01">Download file</button>
        </form>

        <form method="POST" action="/upload" enctype="multipart/form-data" id="upload-form">
            <label for="htmlfile" style="margin-right: 100px; text-align: center;" class="button_style02">Upload file</label>
            <input type="file" name="htmlfile" id="htmlfile" onchange="submitForm()" style="display:none" />
        </form>

        <form id = "downloadFileWord" action="/downloadfileword" method="POST">
            <input type="hidden" name="contentfileword" id="contentfileword" value="">
            <button type="download" id="download-btn" style="margin-right: 100px;" class="button_style03">Download File Word</button>
        </form>

        <form id = "save">
            <input type="hidden" name="titlesave" id="titlesave" value="">
            <input type="hidden" name="contentsave" id="contentsave" value="">
            <button class="button_style04" style="margin-right: 100px;" type="submit">Save</button>
        </form>

        <form id = "cancel">
            <button class="button_style05" onclick="action='/'">Cancel</button>
        </form>
    </div>

    <script>

    </script>

    <script src="/public/js/tinymce.js"></script>

    <script>
        function submitForm() {
            document.getElementById("upload-form").submit();
        }

        function updateTitle() {
            document.getElementById("titlesave").value = document.getElementById("title").value;
        }
        const textareaTitle = document.getElementById("title");

        textareaTitle.addEventListener("input", updateTitle);
        textareaTitle.addEventListener("change", updateTitle);
        textareaTitle.addEventListener("paste", updateTitle);

        updateTitle();
        let content = '<%- content %>';
        let id = '<%- id %>';
        let title = "";
        if (id !== "") {
            let posts = JSON.parse(localStorage.getItem("postList"));
            content = posts[id].content;
            title = posts[id].title;
        }
        document.getElementById("title").value = title;

        var editor = tinymce.init({
            selector: 'textarea[name="editor"]',
            height: 400,
            content_css: '/styles.css',
            plugins:[
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'prewiew', 'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media',
            'table', 'emoticons', 'template', 'codesample'],
            toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons',
            setup: function (editor) {
                function updateContent() {
                    var content = editor.getContent();
                    document.getElementById('content').value = content;
                    document.getElementById('contentfileword').value = content;
                    document.getElementById('contentsave').value = content;
                    updateTitle();
                }

                editor.on('input', updateContent);
                editor.on('change', updateContent);
                editor.on('paste', updateContent);
            },
            init_instance_callback: function (editor) {
                editor.setContent(content);
                document.getElementById('content').value = editor.getContent();
                document.getElementById('contentfileword').value = editor.getContent();
                document.getElementById('contentsave').value = editor.getContent();
                updateTitle();
            }
        });

    </script>
    <script type="module" src="/public/js/save.js"></script>
    <script>

    </script>
</body>
<body>

</body>
</html>
